@media (max-width: 750px){

  .header{
 position: relative;
}
  .menu{
    position: absolute;
    top: 35px;
    left: 20px;
}
  .search{
    position: absolute;
    top: 37px;
    right: 20px;
  }
  .card{
display: block;

}
